<nav class="navbar">

    <div class="container d-flex">
        <a class="navbar-brand" href="#" onclick="window.location.href = window.location.origin;">
            <img src="images/IndianRoller.png" width="50px" height="50px" alt="">
        </a>
        
        <!--<form id="accDropDown" class="accDropDown">
            <select name="accountAction" id="accountAction">
                <option value="account-options">Account Options</option>
                <option value="account-details" id="displayAccountItem">Account Details</option>
                <option value="delete-account">Delete Account</option>
                <option value="logout">Logout</option>
            </select>
        </form>-->

        <div>
            <button class="btn" id="displayAccountItem">Account</button>
            <button class="btn accDelete" id="deleteAccountItem">Delete Account</button>
            <button class="btn" id="logoutAccountItem">Log Out</button>
        </div>
        
    </div>

</nav>