body{
    background-color: #273151;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #456384;
}

h1 {
    color: #edebff;
}

h2 {
    color:#dddbff;

}

p {
    color:rgb(212, 212, 255);
}

form {
    background: #2d3757;
    padding:1em;
    color: #dddbff;
    justify-content: right;
    margin: .25em;
}

label {
    padding: .5em;
}

button {
    color: rgb(220, 235, 255)!important;
    background-color: #3d4d83!important;
    font-family:Arial, Helvetica, sans-serif;
}

.site-dir {
    color: #dddbff;
    text-decoration: none;
    margin:0em, 0.5em ;
}

.site-dir:hover, .site-dir:active {
    text-decoration: underline;
}

.footer-custom {
    padding:1.25em;
    text-align: center;
    font-size: .75em;
}

.sign-in:link, .sign-in:visited {
    background-color: #3d4d83;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(220, 235, 255);
    padding: 0.5em 0.75em;
    text-align: center;
    display:inline-block;
}

.sign-in:hover {
    background-color: #535e85;
}

.make-account, .make-account:link, .make-account:visited {
    background-color: #3d4d83;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(220, 235, 255);
    padding: 0.5em 0.75em;
    text-align: center;
    display:inline-block;
}

.make-account:hover {
    background-color: #535e85;
}