<!DOCTYPE html>
<html lang="eng">
    <head>
        {{>head}}
        <script defer src="/js/create-account.js"></script>
    </head>

    <body>
        {{>navbar}}



        <form class="container">
            <form id="makeAccount">
                <label for="email">E-Mail Address</label>
                <input id="email" type="text" name="email"><br>

                <label for="user">Username</label>
                <input id="username" type="text"  name="username">

                <div class="form-text">Username must be at least 4 characters long</div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password"><br>

                <br>
                <button class="make-account btn">Submit</button>
                <p id="message" class="message"></p>
            </form>
        </form>
        
    </body>


    {{>footer}}
</html>