<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>

    <body>
        {{>navbar}}



        <div class="container">
            <h1 >Hello!</h1>
            <h2>This site was created by Pablo Fuentes.</h2>
            <br>
            <a class="sign-in btn" href="login">Sign in</button></a>
        </div>

    </body>

    {{>footer}}
</html>