<!DOCTYPE html>
<html lang="eng">
    <head>
        {{>head}}
        <script defer src="/js/login.js"></script>
    </head>

    <body>
        {{>navbar}}


        
        <div class="container">
            <form id="loginForm">
                <label for="email">E-Mail Address</label>
                <input id="email" type="text" name="email"><br>

                <label for="password">Password</label>
                <input id="password" type="password" name="password"><br>

                <button class="btn">Sign in</button>
                <br>
                <div class="container">
                    
                <p id="message" class="message logMsg"></p>
                </div>
            </form>
            
            <p><a class="make-account btn" href="create_account">Create a new account</a></p>
        </div>

    </body>




    {{>footer}}
</html>