<!DOCTYPE html>
<html lang="eng">
    <head>
        {{>head}}
        <script defer src="/js/login.js"></script>
    </head>

    <body>
        {{>navbar}}


        
        <div class="container">
            <form id="loginForm">
                <label for="email">E-Mail Address</label>
                <input type="text" id="email" name="email"><br>
                <label for="password">Password</label>
                <input type="text" id="password" name="password"><br>
                <br>
                <div class="container">
                    <!--<a class="sign-in btn" href="main"></a>-->
                    <button class="btn">Sign in</button>
                </div>
            </form>
            <p id="message" class="message"></p>
            <p><a class="make-account btn" href="create_account">Create a new account</a></p>
        </div>

    </body>




    {{>footer}}
</html>