<!DOCTYPE html>
<html lang="eng">
    <head>
        {{>head}}
        <script defer src="/js/main.js"></script>
    </head>

    <body>
        <!--{{>navbar}}-->
        
        {{>accountControl}}


        <div class="container">
            <h2>Welcome!</h2>

            <p>This site is still under construction.</p>
            <ul>
                <li><a class="site-dir" href="lorem_ipsum"><p>Sample page</p></a></li>
            </ul>
        </div>
        <br>
        <div class="container small">
            <p>
                Access token: {{token}}
            </p>

            <div id="contentArea"></div>
        </div>
    </body>

    {{>footer}}
</html>